name: windows11_25h2_amd64

on:
  schedule:
    - cron: '1 0 * * 1'
  repository_dispatch:
  workflow_dispatch:
#on: [push, pull_request]

env:
  SEARCH_VERSION: 'w11-25h2'
  FILE_NAME: windows11_25h2_amd64

jobs:
  windows11_25h2_amd64:
    runs-on: windows-latest

    steps:

    # Checkout repository
    - name: Checkout repository
      uses: actions/checkout@v5
      
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'
  
    - name: Install Python dependencies
      run: |
        pip install requests
        pip install bs4
 
    - name: get python script
      shell: pwsh
      run: | 
        $PYTHON_RESULT=python ./script/getVersion.py ${{env.SEARCH_VERSION}}
        echo $PYTHON_RESULT
        echo "Build_VERSION=$PYTHON_RESULT" | Out-File -FilePath $env:GITHUB_ENV -Append -Encoding utf8

        
    # make ISO
    - name: UUP dump WinISO
      shell: cmd
      run: |
        dir
        uup_download_windows.cmd

    # chack working-directory: 
    - name: dir dir
      shell: cmd
      run: dir

    # package
    - name: Package binaries
      shell: cmd
      run: |
        7z a -v1950M ${{env.FILE_NAME}}-${{env.Build_VERSION}}.7z ./*.iso -mx=9

    # upload iso
    - uses: actions/upload-artifact@v4
      with:
        name: ${{env.FILE_NAME}}-${{env.Build_VERSION}}
        path: ${{env.FILE_NAME}}-${{env.Build_VERSION}}.7z*

    # Release iso
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{env.FILE_NAME}}-${{env.Build_VERSION}}
        release_name: ${{env.FILE_NAME}}-${{env.Build_VERSION}}
        files: ${{env.FILE_NAME}}-${{env.Build_VERSION}}.7z*
